@import url("normalize.css");
header {
    height: 54px;
    padding: 20px 60px 0px;
    background: #13171b;
}

header h1 {
    color: #fff;
    margin: 0;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    padding-left: 30px;
}

section {
    padding: 10px;
}

.bikes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: space-around;
}

.bike {
    flex-basis: 320px;
}

.bike .name {
    text-transform: uppercase;
}
